@font-face {
  font-family: "Homizio Nova";
  font-weight: 300;
  src: url("../fonts/homizio-nova/light.ttf");
}@font-face {
  font-family: "homizio nova";
  font-weight: 600;
  src: url("../fonts/homizio-nova/regular.ttf");
}


$pinkColor: #e83a93;
$lightColor: #fff;
$grayColor: #777777;